@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
/* font-family: "Noto Sans Arabic", sans-serif; */

:root {
   --lightBlue: rgba(128, 199, 238, 0.2);
   --primary: #3062ad;
   --primary-300: #80c7ee;
   --tran3: 0.3s all ease;
   --white: #ffffff;
}

* {
   box-sizing: border-box;
}

body {
   font-family: "Bricolage Grotesque", sans-serif;
   padding: 0;
   margin: 0;
}

html,
body {
   overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
a {
   margin: 0;
   padding: 0;
   text-decoration: none;
}

h1 {
   font-size: 100px;
   color: var(--white);
   font-weight: 700;
}

input:focus,
textarea:focus {
   outline: unset;
}

img {
   width: 100%;
   height: auto;
}

.site-btn {
   background: none;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   min-width: 180px;
   font-size: 18px;
   cursor: pointer;
   font-weight: 400;
   position: relative;
   z-index: 1;
   outline: 2px solid white;
   outline-offset: 3.5px;
   color: #002a3c;
   background-color: white;
   overflow: hidden;
   transition: 0.3s all ease;
   padding: 10px 5px 10px 30px;
   border-radius: 30px;
   text-transform: uppercase;
}

.site-btn:hover {
   color: white;
   background-color: #002a3c;

}

.site-btn i {
   font-size: 30px;
}

/* header  */

.header {
   padding: 10px 0;
   position: absolute;
   width: 100%;
   top: 20px;
   left: 0;
   z-index: 111;
}

.header ul li a {
   font-size: 14px;
   color: var(--primary);
   padding: 5px 10px 4px !important;
   min-width: 110px;
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 20px;
   text-transform: uppercase;
   transition: var(--tran3);
}

.header ul li a.active,
.header ul li a:hover {
   background-color: var(--primary);
   color: white !important;
}

.header ul {
   padding: 8px;
   border-radius: 30px;
   background-color: var(--lightBlue);
   gap: 10px;
}

.flat-btn {
   background-color: transparent;
   padding: 0;
   margin: 0;
   border: unset !important;
   outline: unset !important;
}

.side-wrap button img {
   min-width: 150px;
}

.header .navbar-brand img {
   min-width: 150px;
}

/* banner  */

.banner {
   padding: 200px 0;
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

.banner :where(.first-show, .second-show) {
   height: 100%;
   position: relative;
}

@keyframes popUp {
   0% {
      transform: scale(0.9);
      opacity: 0;
   }

   100% {
      transform: scale(1);
      opacity: 1;
   }
}

.main-video {
   animation: popUp 1s ease-in-out;
}

.title-content {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   animation: popUp 0.3s ease-in;
   text-align: center;
}

.inner-title-content {
   display: inline-block;
   position: relative;
}

@keyframes boldText {
   0% {
      transform: scale(3);
   }

   100% {
      transform: scale(1);
   }
}

.title-content h1 {
   animation: boldText 1.2s ease-in;
   color: white;
   line-height: 0.8;
   text-align: center;
}

.title-content p {
   font-size: 30px;
   line-height: 1;
   color: white;
   margin-top: 5px;
   position: absolute;
   left: 0;
   right: 0;
}

.title-content>p {
   left: 0;
   bottom: 0;
   top: unset;
}

.first-show .img {
   display: flex;
   justify-content: center;
   align-items: center;
}

.arrow-time svg {
   max-width: 110px;
   position: absolute;
   bottom: -105px;
   right: -1px;
}

.first-show video,
.inner-title-content video {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   object-fit: cover;
   height: 100%;
   z-index: -1;
}

.overlay {
   background-color: rgba(15, 36, 90, 0.6);
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
}


/* priority  */

.container {
   max-width: unset;
   margin: unset;
   padding: 0 5%;
}

.priority .wrapper {
   background-image: url(../images/priority-bg.png);
   background-repeat: no-repeat;
   background-size: cover;
   padding: 50px;
   border-radius: 40px;
   color: white;
}

.priority .text h2 {
   font-size: 55px;
   margin-bottom: 40px;
}

.priority .text p {
   margin-top: 15px;
   font-size: 28px;
}

.priority .site-btn {
   margin-top: 50px;
}

/* counter-video  */

.counter-video {
   padding: 24px 0 40px;
}

.counter {
   background-color: #09153a;
   padding: 40px;
   border-radius: 40px;
}

.counter-text h2 {
   font-size: 118px;
   color: #80c7ee;
   line-height: 0.7;
}

.counter-text span {
   color: white;
   font-size: 42px;

}

.counter p {
   color: white;
   font-size: 22px;
   margin: 20px 0 30px;
}

.counter .site-btn {
   color: white;
   background-color: #80c7ee;
   outline-color: #80c7ee;
}

.counter .site-btn:hover {
   background-color: white;
   outline-color: white;
   color: #09153a;

}

.video-thumbnail {
   position: relative;
   z-index: 1;
   display: flex;
   height: 100%;
   border-radius: 50px;
   overflow: hidden;
}

.layer::before {
   content: "";
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   border-radius: 50px;
   background: rgb(11, 22, 58, 0.8);
}

.play-btn img {
   position: absolute;
   z-index: 2;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
   transition: 0.3s all ease;
   width: auto;
   max-width: 140px;
}

/* two-colm  */

@media (min-width: 768px) {
   .two-colm .row .col-md-6 {
      width: 52%;
   }

   .two-colm .row .col-md-5 {
      width: 48%;
   }
}

.two-colm {
   padding: 210px 0 50px;
   background-color: white;
}

.abs-heading {
   display: flex;
   align-items: center;
   gap: 30px;
   position: absolute;
   z-index: -1;
   top: -24%;
   left: 0;
}

.two-colm .inner-wrapper {
   width: 90%;
   margin: auto;
}

.abs-alphabet img {
   min-height: 430px;
}


.two-colm-text h2 {
   color: #3062ad;
   font-size: 68px;
}

.two-colm-text p {
   font-size: 20px;
   color: #3062ad;
   margin: 40px 0;
}

.two-colm-text .site-btn {
   background-color: #09153a;
   color: white;
   outline-color: #09153a;

}

.two-colm-text .site-btn:hover {
   background-color: #3062ad;
   outline-color: #3062ad;
}


.two-colm .cart-image {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   z-index: 1;
}

.bg {
   background-color: #80c7ee;
   border-radius: 180px;
   height: 600px;
   width: 295px;
}

.abs-tag {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: max-content;
   max-width: 370px;
}

.tag1 {
   top: 10%;
   left: 12%;
   max-width: 270px;
}

.tag2 {
   max-width: 160px;
   top: 38%;
   left: 29%;
}

.tag3 {
   max-width: 200px;
   top: 34%;
   right: 15%;
   left: unset;
}

.tag4 {
   max-width: 195px;
   top: 55%;
   left: 6%;
}

.tag5 {
   top: 49%;
   left: 27%;
   right: unset;

}

.tag6 {
   max-width: 165px;
   top: unset;
   bottom: 2%;
   left: unset;
   right: 28%;
}

.priority .text h2,
.priority .text p {
   overflow: hidden;
   display: block;
   line-height: 1.4;
   /* Adjust to ensure spans aren't cut off at the top */
}

.priority .text p span {
   will-change: transform;
}

.priority .text .site-btn {
   opacity: 0;
   /* Start hidden so the timeline can fade it in */
}



.priority .text>* {
   opacity: 0;
   transform: translateY(20px);
   animation: reveal 0.6s ease forwards;
}

.priority .text>*:nth-child(2) {
   animation-delay: 1s;
}

.priority .text>*:nth-child(3) {
   animation-delay: 1.7s;
}

.priority .text>*:nth-child(4) {
   animation-delay: 1.9s;
}

.priority .text>*:nth-child(5) {
   animation-delay: 2.3s;
}

.priority .text>*:nth-child(6) {
   animation-delay: 2.7s;
}


@keyframes reveal {
   to {
      opacity: 1;
      transform: translateY(0);
   }
}