@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
/* font-family: "Noto Sans Arabic", sans-serif; */

:root {
   --lightBlue: rgba(128, 199, 238, 0.2);
   --primary: #3062ad;
   --primary-300: #80c7ee;
   --tran3: 0.3s all ease;
   --white: #ffffff;
}

* {
   box-sizing: border-box;
}

body {
   font-family: "Bricolage Grotesque", sans-serif;
   padding: 0;
   margin: 0;
}

html,
body {
   overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
a {
   margin: 0;
   padding: 0;
   text-decoration: none;
}

h1 {
   font-size: 60px;
   color: var(--white);
   font-weight: 700;
}

input:focus,
textarea:focus {
   outline: unset;
}

img {
   width: 100%;
   height: auto;
}

.site-btn {
   background: none;
   display: flex;
   justify-content: center;
   align-items: center;
   min-width: 180px;
   font-size: 18px;
   cursor: pointer;
   font-weight: 400;
   position: relative;
   z-index: 1;
   border: 2px solid var(--primary);
   color: var(--white);
   background-color: var(--primary);
   overflow: hidden;
   transition: 0.3s all ease;
   padding: 10px 30px;
}

.site-btn::before {
   content: "";
   position: absolute;
   z-index: -1;
   width: 0;
   height: 100%;
   left: 0;
   right: 0;
   margin: auto;
   bottom: 0;
   top: 0;
   background-color: var(--white);
   transition: all 0.2s ease;
}

.site-btn:hover:before {
   width: 100%;
   transition: all 0.2s ease;
}

.site-btn:hover {
   color: var(--primary);
}

/* header  */

.header {
   padding: 10px 0;
   position: absolute;
   width: 100%;
   top: 20px;
   left: 0;
   z-index: 111;
}

.header ul li a {
   font-size: 14px;
   color: var(--primary);
   padding: 5px 10px 4px !important;
   min-width: 110px;
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 20px;
   text-transform: uppercase;
   transition: var(--tran3);
}

.header ul li a.active,
.header ul li a:hover {
   background-color: var(--primary);
   color: white !important;
}

.header ul {
   padding: 8px;
   border-radius: 30px;
   background-color: var(--lightBlue);
   gap: 10px;
}

.flat-btn {
   background-color: transparent;
   padding: 0;
   margin: 0;
   border: unset !important;
   outline: unset !important;
}

.side-wrap button img {
   min-width: 150px;
}

.header .navbar-brand img {
   min-width: 150px;
}

/* banner  */

.banner {
   padding: 200px 0;
   background-image: url(../images/bg-banner.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.banner :where(.first-show, .second-show) {
   height: 100%;
   position: relative;
}

@keyframes popUp {
   0% {
      transform: scale(0.9);
      opacity: 0;
   }
   100% {
      transform: scale(1);
      opacity: 1;
   }
}

.main-video {
   animation: popUp 1s ease-in-out;
}

.title-content {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   animation: popUp 0.3s ease-in;
}
.inner-title-content {
   display: inline-block;
   position: relative;
}

@keyframes boldText {
   0% {
      transform: scale(3);
   }

   100% {
      transform: scale(1);
   }
}

.title-content h1 {
   max-width: 240px;
   position: absolute;
   width: 100%;
   height: max-content;
   animation: boldText 1.2s ease-in;
   color: white;
   line-height: 0.8;
   position: absolute;
   top: -45px;
   left: -11%;
   font-size: 60px;
   z-index: 1;
   right: unset;
   bottom: unset;
   text-align: left;
}

.title-content p {
   font-size: 16px;
   line-height: 1;
   color: white;
   position: absolute;
   top: -3px;
   right: -170px;
}

.title-content > p {
   left: 0;
   bottom: 0;
   top: unset;
}

.first-show .img {
   display: flex;
   justify-content: center;
   align-items: center;
}

.arrow-time svg {
   max-width: 110px;
   position: absolute;
   bottom: -36px;
   right: -90px;
}

.first-show video,
.inner-title-content video {
   width: 100%;
   max-width: 710px;
   height: auto;
}
